@using QLBANSACH.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Vinabook - hiệu sách online trực tuyến cho mọi người</title>
    <link rel="stylesheet" href="~/Content/style2.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="/BookStore/Index"><img src="~/image/logo.png" alt="Vinabook" /></a>
            </div>
            <div id="search">
                <form action="~/search" method="get">
                    <input type="text" name="q" placeholder="Tìm kiếm sách..." />
                    <button type="submit">Tìm kiếm</button>
                </form>
            </div>
            <div id="cart">
                <a href="/Giohang/GioHang">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <span id="cart-count">@Html.Action("GiohangPartial", "Giohang")</span>
            </div>
            @if (Session["Taikhoan"] != null)
            {
                <div class="login">
                    <h4>Xin chào:</h4><h2 style=" color: #057A45; margin: 0 20px 0 5px; font-size:23px;"> @((Session["Taikhoan"] as KHACHHANG).HoTen)</h2>
                    <a href="@Url.Action("Dangxuat", "Giohang")"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>
            }
            else
            {
                <div class="login">
                    <a href="/Nguoidung/Dangnhap">Đăng nhập |</a>
                    <a href="/Nguoidung/Dangky">Đăng ký</a>
                </div>
            }
        </div>
        <div class="header-1">
            <div style="display:flex">
                <i style='font-size: 35px; margin: 5px; color: white; margin-left: 40px; ' class='fas'>&#xf03a;</i>
                <p class="text-while">Danh Mục Sách <i class="fa-solid fa-chevron-down"></i></p>
            </div>
            <div class="support">
                <a href="#" style="border-right: 3px solid;"><i style='font-size:22px' class='fas'>&#xf095;</i> Hotline: <b style="font-size:18px;">0366 542 543</b> </a>
                <a href="#"><i style='font-size:22px' class="fa-sharp fa-regular fa-comments"></i> Hỗ trợ trực tuyến</a>
            </div>
        </div>
        <div style="float:left;">
            @Html.Action("Chude", "BookStore")
            @Html.Action("Nhaxuatban", "BookStore")
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div style="height: 50px;"></div>
        <div id="footer">
            <p>© 2023 Tienbook. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
